.link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;


}

.link:hover {
    color: var(--color-primary-dark);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;

}

/*address-link*/
.address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    text-decoration: none;
}

.address-link:hover {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-dark)
}

.address-copyright-text {
    font-size: 14px;
}