body {
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    cursor: default;


}


* {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

.address {
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section {
    padding: 48px 0px;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;

}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

}