.button {
    color: var(--color-brend);
    background-color: var(--color-primary-dark);
    border: 16px solid var(--color-primary-dark);
    border-radius: 24px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    height: 72px;
    width: 232px;
}

.button:hover {
    color: var(--color-primary-dark);
    background-color: var(--color-brend);
    border: 16px solid var(--color-brend);

}