/*carousel*/

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    flex-shrink: 0;
}



.carousel-arrow {
    fill: var(--color-primary-dark);
}

.carousel-button:hover {
    background-color: var(--color-primary-dark);
}

.carousel-button:hover .carousel-arrow {
    fill: var(--color-brend);
}