/*Model*/

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s, visibility 0.3s;
    padding: 32px;
}


.model {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 880px;
    max-width: 880px;
    background-color: whitesmoke;
    padding: 100px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}



.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.modal-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    background-color: transparent;
    width: 60px;
    height: 60px;
    cursor: pointer;
    fill: var(--color-primary-dark);
}

.model::-webkit-scrollbar {
    width: 6px;
}

.model::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.input-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 42px;
}



.form-input {
    border: 1px, solid var(--color-primary-dark);
    border-radius: 24px;
    height: 40px;
    width: 400px;
    padding: 24px;
    background-color: transparent;
}



.model-button {
    display: flex;
    justify-content: center;
}

.model-polit {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    align-items: center;
}